# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.pyc
*.Python
*.txt.sb*
*~*
*.sass-cache

# OS or Editor folders
**/.DS_Store
**/.cache
**/.project
**/.settings
**/.tmproj
**/nbproject

# Directory contents to ignore
/bin/*
/lib/*

# Directories to ignore
**/include
.idea/

# Specific files to ignore
*.original
**/pip-selfcheck.json


runserver.sh

runserver.sh
